@import "vars";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  padding-left: calc(50% - $contentWidth / 2);
  padding-right: calc(50% - $contentWidth / 2);
}
//-----------------------------------------------------------
header {
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  margin: 0 auto;
}
.logo_head {
  width: 59px;
  height: 51px;
}
.logo_text {
  font-family: Lato;
  font-size: 27px;
  line-height: 15px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  margin-top: 40px;
  &_span {
    font-weight: 900;
    color: $buttonColor;
  }
}
.logo_head {
  width: 168px;
  display: flex;
}
.imgLogo {
  width: 59px;
  height: 51px;
  margin-top: 25px;
}
.head_nav {
  display: flex;
  justify-content: space-between;
}
.left_butt_head {
  width: 607px;
  display: flex;
  justify-content: space-between;
}
.browse_searcher {
  width: 450px;
  display: flex;
  gap: 0;
  margin-top: 31px;
  height: 38px;
}
.browseButt {
  position: relative;
}
.browse {
  width: 87px;
  background-color: #cdcdcc;
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  height: 36px;
  cursor: pointer;
  &_button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  &_heading {
    font-family: Lato;
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #222222;
  }
  &_box {
    width: 262px;
    height: 530px;
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    padding-left: 20px;
    z-index: 2;
    margin-top: 15px;
    box-shadow: 6px 3px 35px rgba(0, 0, 0, 0.21);
  }
  &_box::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    position: absolute;
    top: -9px;
    left: 61px;
    transform: rotate(45deg);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
  }
}
.searcher {
  &_input {
    width: 317px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    height: 36px;
  }
  .subButt {
    border: none;
  }
}
.lupSubBatt {
  width: 20px;
  height: 20px;
  padding: 5px 5px 5px 5px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}
//-----------------------------------------------------------
.right_butt_head {
  width: 190px;
  display: flex;
  justify-content: space-between;
  margin-top: 31px;
}
.basketHead {
  position: relative;
}
.basket {
  &_summary {
    display: flex;
  }
  &_box {
    position: absolute;
    width: 230px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 16px;
    padding: 17px 21px;
    border: 1px solid #eeecec;
  }
  &_box::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    position: absolute;
    top: -9px;
    left: 6px;
    transform: rotate(45deg);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
  }
  &_box-content1 {
    display: flex;
    justify-content: start;
    gap: 14px;
    width: 230px;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 12px;
    padding-bottom: 16px;
  }
  &_box-content2 {
    display: flex;
    justify-content: start;
    gap: 14px;
    width: 230px;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 12px;
    padding-bottom: 16px;
  }
  &_box-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
  &_star-icon {
    width: 11px;
    height: 11px;
  }
  &_box-heading {
    font-family: $fontContent;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
  }
  &_price {
    font-family: $fontContent;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #f16d7f;
  }
  &_total-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;
  }
  &_total-heading {
    font-family: $fontContent;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
  }
  &_total-price {
    font-family: $fontContent;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
  }
  &_box-button {
    width: 225px;
    height: 50px;
    background: none;
    border-color: #ff6a6a;
    color: #f26376;
    font-size: 16px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  }
  &_box-button:hover {
    background: #ff6a6a;
    color: white;
    border: none;
  }
  &_box-butt2 {
    margin-top: 12px;
  }
}

.basketImg {
  width: 32px;
  height: 29px;
  color: #222222;
  cursor: pointer;
}
.account_button {
  width: 130px;
  height: 38px;
  background-color: $buttonColor;
  font-family: Lato;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  border: none;
}
//----------------------------------------------------------
// HOMEWORK 3 ------------------------------------------------
.menu {
  width: 685px;
  margin: 0 auto;
  display: block;
  text-align: justify;
  list-style: none;
  @supports (display: flex) {
    width: 685px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
}
.menu {
  width: 685px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
}
// .menu {
//   width: 685px;
//   margin: 0 auto;
//   display: flex;
//   justify-content: space-between;
//   list-style: none;
// }
// HOMEWORK 3-------------------------------------------------
.menu-list {
  display: inline;
  position: relative;
  padding: 20px 10px;
}
.nav__link {
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.mega-box {
  padding: 20px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 52px;
  left: -10px;
  display: none;
}
.mega-box::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  position: absolute;
  top: -8px;
  left: 28px;
  transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}
.mega-title {
  width: 235px;
  border-bottom: 1px solid #e8e8e8;
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
  margin-bottom: 16px;
}
.mega-subtitle {
  margin-top: 15px;
  margin-bottom: 8px;
}
.mega-link {
  font-family: Lato;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #646464;
  display: block;
  text-decoration: none;
}
.mega-link:hover {
  color: $buttonColor;
}
.menu-item {
  margin-right: 46px;
}
.menu-item:last-of-type {
  margin-right: 0;
}
.menu-list:hover .mega-box {
  display: flex;
}
.last:hover .mega-box {
  right: 0;
  left: auto;
}
.last:hover .mega-box::before {
  right: 39px;
  left: auto;
}
.menu-element {
  left: -100px;
}
.menu-element-kid {
  left: -200px;
}
.center-menu-women:hover .mega-box::before {
  right: auto;
  left: 131px;
}
.center-menu-kids:hover .mega-box::before {
  right: auto;
  left: 215px;
}
.menu-element-acces {
  left: -275px;
}
.center-menu-access:hover .mega-box::before {
  right: auto;
  left: 325px;
}

.menu_banner {
  width: 255px;
  height: 118px;
  background-color: #efefef;
  margin-top: 15px;
}

//-----------------------------------------------------------
//-----------------------------------------------------------
.main_content {
  margin: 0 auto;
  width: 1600px;
  height: 665px;
}
.mainContText {
  position: relative;
  margin-top: -397px;
  margin-left: 227px;
  width: 521px;
  height: 110px;
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
  z-index: 0;
}
.promo__title {
  font-family: Lato;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #222222;
}
.promo__heading {
  font-size: 40px;
}
.promo__span {
  font-size: 40px;
  color: $buttonColor;
}
//-----------------------------------------------------------
.first_card {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 98px;
}
.leftCard1 {
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;
}
.rightCard1 {
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;
}
.textLeftCard1 {
  position: relative;
  margin-top: -825px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 310px;
}
.topTextLC1 {
  width: 180px;
  height: 82px;
  background-color: #ffffff;
}
.topTextLeftCard1 {
  width: 148px;
  margin-top: 15px;
  padding-left: 19px;
  font-family: $fontContent;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}
.topTextLeftCard1 span {
  font-size: 30px;
  color: $buttonColor;
}
.botTextLC1 {
  width: 235px;
  height: 82px;
  background-color: #ffffff;
}
.botTextLeftCard1 {
  margin-top: 15px;
  padding-left: 19px;
  font-family: $fontContent;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}
.botTextLeftCard1 span {
  font-size: 30px;
  color: $buttonColor;
}
.textRightCard1 {
  height: 500px;
  position: relative;
  margin-top: -825px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 70px;
}
.topTextRC1 {
  width: 180px;
  height: 82px;
  background-color: #ffffff;
}
.topTextRightCard1 {
  width: 148px;
  margin-top: 15px;
  padding-left: 19px;
  font-family: $fontContent;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}
.topTextRightCard1 span {
  font-size: 30px;
  color: $buttonColor;
}
.botTextRC1 {
  width: 235px;
  height: 82px;
  background-color: #ffffff;
}
.botTextRightCard1 {
  margin-top: 15px;
  padding-left: 19px;
  font-family: $fontContent;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}
.botTextRightCard1 span {
  font-size: 30px;
  color: $buttonColor;
}
//---------------------------------------------------------
.second_cards {
  margin-bottom: 100px;
}
.titleSecCard {
  text-align: center;
  margin-bottom: 48px;
  margin-top: 80px;
}

.titleSecCard h1 {
  color: #222;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.titleSecCard p {
  color: #9f9f9f;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card2 {
  padding-bottom: 24px;
  position: relative;
}
.card2:hover {
  box-shadow: 6px 3px 35px rgba(0, 0, 0, 0.21);
}

.card2 img {
  width: 261px;
  height: 280px;
  margin-bottom: 25px;
}

.card2 h1 {
  color: #000;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
  padding-left: 16px;
}

.card2 h2 {
  color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 16px;
}
.secondCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  margin-bottom: 48px;
}
.butt2 {
  display: flex;
  justify-content: center;
}
.batt button {
  font-family: Lato;
}
.butt2 button {
  width: 212px;
  height: 48px;
  background: none;
  border-color: #ff6a6a;
  color: #f26376;
  font-size: 16px;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 60px;
  cursor: pointer;
}
.butt2 .butt:hover {
  background: #ff6a6a;
  color: white;
  border: none;
}
.secCartButt {
  position: absolute;
  left: 67px;
  top: 120px;
  border: 1px solid white;
  color: white;
  width: 122px;
  height: 30px;
  background: none;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 5px;

  opacity: 0;
  cursor: pointer;
}
.secCartButt svg {
  /* margin-right: 11px; */
}
.card2:hover .imgCard2 {
  filter: brightness(40%);
  filter: blur(60%);
}
.card2:hover .secCartButt {
  opacity: 1;
}
// .card2:hover .secCartButt{
//   opacity: 1;
// }
//-----------------------------------------------------------
.bannerCont {
  width: 767px;
  height: 529px;
}

.fird_content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 97px;
}
.fCard {
  width: 275px;
  display: flex;
  justify-content: space-between;
}
.textFirdCont {
  display: flex;
  flex-direction: column;
  gap: 62px;
  padding: 36px 48px;
  background-color: #222224;
}
.textFirdCard h3 {
  font-family: Lato;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fbfbfb;
  margin-bottom: 17px;
}
.textFirdCard p {
  width: 220px;
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}
.backImg {
  width: 1600px;
  margin: 0 auto;
  height: 448px;
  filter: opacity(50%);
}
.subscribe {
  margin-bottom: 239px;
}
.subsConteiner {
  position: relative;
  margin-top: -448px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-top: 86px;
}
.subsConteiner .subsCard2 {
  padding-top: 64px;
}
.subsCard img {
  width: 83px;
  height: 83px;
}
.subsCard h4 {
  width: 359.449px;
  height: 99px;
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 32px;
}
.subsCard2 h2 {
  color: #222224;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
}
.subsCard2 h4 {
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
}
.searcher2 {
  display: flex;
  margin-top: 32px;
}
.searcher2 input {
  border: none;
  border-radius: 25px 0 0 25px;
  width: 256px;
  height: 49px;
  background-color: #e1e1e1;
}
.searcher2 button {
  width: 100px;
  height: 49px;
  border: none;
  background-color: #f16d7f;
  border-radius: 0 25px 25px 0;
}
// ----------------------------------------------------------
.textInInfo {
  width: 428px;
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
}
.logoInbottom {
  margin-bottom: 29px;
}
.listLink {
  font-family: Lato;
  font-size: 16px;
  line-height: 59px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
}
.listTopFoot {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 35px;
}
.UlList {
  display: grid;
  grid-template-rows: repeat(6, 2.6em);
  height: 188px;
}
.UlList h1 {
  font-family: $fontContent;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: $buttonColor;
}
.top_footer_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
footer {
  background: #e6e6e6;
  height: 79px;
  margin: 0 auto;
  margin-top: 78px;
}
.foot {
  display: flex;
  justify-content: space-between;
}
.foot p {
  color: #7a7a7a;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 30px;
}
.social {
  display: flex;
  justify-content: space-between;
  width: 148px;
  height: 32px;
  padding-top: 24px;
}
.socialIcon {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  padding: 8px 8px 8px 8px;
}
.socialIcon:hover {
  fill: white;
  background: $buttonColor;
}
.product-content {
  margin: 0 auto;
  height: 148px;
  background-color: #f8f3f4;
}
.main-content {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
  &_title {
    font-family: $fontContent;
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #f16d7f;
  }
  &_nav {
    font-family: $fontContent;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #636363;
  }
  &_current {
    font-weight: 700;
    color: #f16d7f;
  }
}
.productCardCont {
  margin-top: 60px;
  display: flex;
  gap: 49px;
}
.sort-menu {
  display: flex;
  flex-direction: column;
  gap: 18px;
  position: relative;
  &_category {
    // height: 37px;
    width: 243px;
    display: flex;
    flex-direction: column;
  }
  &_category[open] .sort-menu_category {
    height: 450px;
  }
  &_category-summary {
    border-left: 5px solid #f16d7f;
    height: 37px;
    font-family: Lato;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ef5b70;
    display: flex;
    align-items: center;
    padding-left: 11px;
    cursor: pointer;
    border-bottom: 1px solid #ebebeb;
  }
  // &_category-box {
  //   width: 243px;
  //   display: flex;
  //   flex-direction: column;
  //   position: absolute;
  //   margin-top: 20px;
  //   padding-left: 11px;

  // }
  &_link {
    text-decoration: none;
    font-family: Lato;
    font-size: 14px;
    line-height: 33px;
    font-weight: 400;
    color: #6f6e6e;
    padding-left: 11px;
  }
  &_link:hover {
    color: $buttonColor;
  }
  &_brand {
    width: 243px;
    display: flex;
    flex-direction: column;
  }
  &_brand-summary {
    border-left: 5px solid #f16d7f;
    height: 37px;
    font-family: Lato;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ef5b70;
    display: flex;
    align-items: center;
    padding-left: 11px;
    cursor: pointer;
    border-bottom: 1px solid #ebebeb;
  }
  &_designer {
    width: 243px;
    display: flex;
    flex-direction: column;
  }
}
.product-cards {
  &_filtr {
    display: flex;
    justify-content: space-between;
    width: 846px;
  }
  &_filtr-heading {
    font-family: Lato;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6f6e6e;
  }
  &_trending-box {
    width: 215px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 24px;
  }
  &_trending-link {
    border-right: 1px solid #f3f3f3;
    padding-right: 8px;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #6f6e6e;
  }
  &_trending-link-last {
    border: none;
  }
  &_size-box {
    width: 205px;
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
    margin-top: 24px;
  }
  &_size-check {
    display: flex;
    gap: 6px;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #6f6e6e;
  }
  &_price-range {
    width: 262px;
    margin-top: 24px;
  }
  &_price-input {
    width: 262px;
  }
  &_sortBy {
    display: flex;
    margin-left: 10px;
  }
  &_sortByText {
    width: 65px;
    height: 30px;
    font-family: Lato;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #6f6e6e;
    background-color: #ffffff;
    border: 1px solid #ebebeb;;
    padding-left: 5px;
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &_sortBy-summary {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 86px;
    height: 30px;
    border: 1px solid #ebebeb;;
    font-family: Lato;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #6f6e6e;
    background-color: #ffffff;
    padding-left: 5px;
  }
  &_bottom-filter {
    width: 846px;
    height: 50px;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 42px;
    margin-bottom: 48px;
  }
  &_show{
    display: flex;
  }
  &_show-summary {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 62px;
    height: 30px;
    border: 1px solid #ebebeb;;
    font-family: Lato;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #6f6e6e;
    background-color: #ffffff;
    padding-left: 5px;
  }
  &_card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
  }
}
.fird-card{
  height: 341px;
  background: #222224;
  margin: 0 auto;
  &_firdCards{
    display: flex;
    justify-content: space-between;
    padding-top: 104px;
  }
  &_fCard{
    text-align: center;
  }
  &_icon{
    height: 40px;
  }
  &_heading{
    color: #FBFBFB;
    font-family: Lato;
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 19px;
    margin-bottom: 16px;
  }
  &_text{
    width: 360px;
    color: #FBFBFB;
    font-family: Lato;
    font-size: 13.972px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}
